/* Navbar Styles */
.logo_and_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.logo {
  max-width: 50px; /* Tamaño adecuado sin distorsión */
  height: auto;
  display: block;
}

.title_navbar {
  color: #222; /* Casi negro */
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
  letter-spacing: 1px; 
}

.navbar {
  background-color: #f8f9fa; /* Blanco hielo */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera y elegante */
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 20px;
}

.navbar .nav-link {
  color: #222; /* Mismo color que el título */
  text-decoration: none;
  padding: 8px 12px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.navbar .nav-link:hover {
  background-color: rgba(34, 34, 34, 0.1);
  font-weight: bold;
}

.navbar .nav-link:active {
  background-color: #ccc; /* Gris más oscuro al hacer clic */
}

.perfil {
  color: #222; /* Color de botones igual al título */
  background-color: transparent;
  transition: all 0.3s ease;
}

.perfil:hover {
  background-color: rgba(34, 34, 34, 0.1);
}

.perfil:focus,
.perfil:active,
.dropdown.show .perfil {
  background-color: #ccc; /* Indicación de selección */
}

@media (max-width: 427px) {
  .navbar .logo_and_title {
    flex: 1;
  }

  .navbar-toggler {
    margin-left: auto;
  }
}
