.logo_and_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  max-width: 15%;
  height: auto;
  display: block;
  margin-right: 3vh;
}

.title_navbar {
  color: white;font-weight: 900;
}

.navbar {
  background-color:#000000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra leve */
  position: sticky; /* Hace que se quede en la parte de arriba al hacer scroll */
  top: 0; /* Arriba del todo */
  z-index: 1000; /* Asegur치te que quede por encima de otros elementos */
}

.navbar .nav-link {
  color: white; /* Cambi치 por el color que quieras */
  text-decoration: none; /* Opcional: quita el subrayado */
}

.navbar .nav-link:hover {
  color: #ccf456; /* Cambia a otro color al pasar el mouse */
  font-weight: bolder;

  
  ;
}

.perfil {
  color: #fff; /* Estilo inicial */
  background-color: transparent;
  transition: all 0.3s ease; /* Para un efecto suave */
}

.perfil:focus,
.perfil:active,
.dropdown.show .perfil {
  color: white; /* Mantiene el texto blanco */
  background-color: #333; /* Fondo oscuro */
  outline: none;
}

.perfil:hover {
  color: white;
  background-color: #444; /* Fondo un poco m치s claro */
}
@media (max-width: 427px) {
  .navbar .logo_and_title {
    flex: 1; /* Ocupa el espacio restante */
  }

  .navbar-toggler {
    margin-left: auto; /* Empuja el bot칩n hacia la derecha */
    color: w#ccf456;
  }
}


.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,0.8)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}