.logo_and_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  max-width: 15%;
  height: auto;
  display: block;
  margin-right: 3vh;
}

.title_navbar {
  font-weight: 900;
}

.navbar {
  background-color:#631d0d;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra leve */
  position: sticky; /* Hace que se quede en la parte de arriba al hacer scroll */
  top: 0; /* Arriba del todo */
  z-index: 1000; /* Aseguráte que quede por encima de otros elementos */
}

.navbar .nav-link {
  color: white; /* Cambiá por el color que quieras */
  text-decoration: none; /* Opcional: quita el subrayado */
}

.navbar .nav-link:hover {
  color: #a3990e; /* Cambia a otro color al pasar el mouse */
}

@media (max-width: 427px) {
  .navbar .logo_and_title {
    flex: 1; /* Ocupa el espacio restante */
  }

  .navbar-toggler {
    margin-left: auto; /* Empuja el botón hacia la derecha */
  }
}


